
/* Define Master Color Palette */
:root {
  --color1: #3C6E71;
  --color2: #353535;
  --color3: #FFFFFF;
  --color4: #D9D9D9;
  --color5: #A1CBCD;
  --BGcolor: #D9D9D9;

}


/* ============ Header ============ */
header {
  display: flexbox;
  padding: 40px;
  text-align: center;
  background-color: var(--color1);
  color: #fff;
  /* border-bottom:30px solid var(--color1); */
}

header h1 {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* ============ Main ============ */

main {
  display: flex;
  background-color: var(--color1);
  min-height: 500px;
  justify-content: center;
}

main h2 {
  display: flex;
  justify-content: center;
}

main button {
  display: flex;
  justify-content: center;
}

main div ul li {
  padding: 10px;
}

main div h1 {
  display: flex;
  justify-content: center;
  font-size: 70px;
}

main div p {
  margin: 20px;
}

main div q1 {
  display: flex;
  font-size: 30px;
  justify-content: center;
}



.card {
  background: radial-gradient(circle, var(--color5) 0%, var(--color1) 100%);
  border: 5px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  padding: 20px;
  width: 90%;
  min-height: 450px;
  height: 400px;
  margin: 5px;
  border:30px solid var(--color1);
}

.highScore {
  font-size: 40px;
    text-align: left;
}

.highScoreTitle {
    text-align: center;
    font-size: 40px;
}

/* ============ Body ============ */
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}


/* ============ Footer ============ */
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  border-bottom:30px #879274;
}

/* ============ Button ============ */
button {
  background: radial-gradient(circle, var(--color3) 0%, var(--color2) 100%);
  border-radius: 8px;
  color: var(--color2);
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}


 /* ============ Class Declerations ============ */

.wrapper {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
