
/* Define Master Color Palette */
:root {
  --BGcolor: #F4A462;

  --cardGrade1: #F5C062;
  --cardGrade2: #264653d1;

  --questionBtn: #6281F4;
  --questionBG: #a462f4a7;
  /* --border: #61F5BF; */
  --border: #FFEAEB;

  --btnBorder: #eceff1;
  --ansbtnBorder: #FFEAEB;

  --headerBtnColor: #141619;

}

 /* ======================== Wrapper ======================== */

.wrapper {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


/* ======================== Header ======================== */
header {
  display: flex;
  padding: 40px;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  background-color: var(--BGcolor);
  color: #fff;
}

header h1 {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  background: var(--BGcolor);
  color: var(--headerBtnColor);
}

/* ======================== Body ======================== */
body {
  font-family: sans-serif;
  background-color: var(--BGcolor);
}


/* ======================== Footer ======================== */
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  border-bottom:30px #879274;
  width: 100%;
}

/* ======================== Main DIV ======================== */

main {
  display: flex;
  background-color: var(--BGcolor);
  min-height: 500px;
  justify-content: center;
}

main h2 {
  display: flex;
  justify-content: center;
}

main button {
  display: flex;
  justify-content: center;
}

main div ul li {
  padding: 10px;
}

main div h1 {
  display: flex;
  justify-content: center;
  font-size: 70px;
}

main div p {
  margin: 20px;
}

main div q1 {
  display: flex;
  font-size: 30px;
  justify-content: center;
}

main q1 {
  margin-bottom: 10px;
  maring-top: 100px;
}

/* ======================== Cards/Boxes Classes ======================== */

.card {
  background: var(--questionBG);
  border: 5px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  padding: 20px;
  width: 90%;
  min-height: 450px;
  height: auto;
  margin: 5px;
  border:30px solid var(--border);
}

.questionCard {
  background: var(--questionBG);
  border: 5px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  padding: 20px;
  width: 90%;
  height: 820px;
  border:10px solid var(--border);
  margin-bottom: 50px;
}

.finalScoreCard {
  background: var(--questionBG);
  border-radius: 8px;
  border:30px solid var(--border);
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  padding: 20px;
  width: 90%;
  min-height: 450px;
  height: auto;
  margin-top: 20px;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleBox {
  background: var(--cardGrade1);
  border-radius: 8px;
  border:5px solid var(--btnBorder);
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  padding: 20px;
  width: 40%;
  height: auto;
  margin-top: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .timerCard {
  background: var(--cardGrade1);
  border-radius: 8px;
  border:5px solid var(--btnBorder);
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  padding: 20px;
  width: 40%;
  height: auto;
  margin-top: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .timerBox {
  background: var(--questionBtn);
  border-radius: 8px;
  border:5px solid var(--btnBorder);
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  padding: 20px;
  width: 200px;
  height: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

 .lastResult {
  background: var(--questionBtn);
  border-radius: 8px;
  border:5px solid var(--btnBorder);
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  padding: 20px;
  width: 200px;
  height: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  text-align: center;
}

 .displayScore {
  background:  var(--cardGrade1);
  border-radius: 8px;
  border:5px solid var(--btnBorder);
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  padding: 20px;
  width: auto;
  height: auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.question {
  background: var(--cardGrade1);
  border: 5px solid var(--btnBorder);
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  padding: 20px;
  width: 100%;
  font-size: 20px;
  min-height: 20px;
  height: auto;
  margin: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
}
 
.ansbtn {
  border: 5px solid var(--ansbtnBorder);
}

.highScore {
  font-size: 40px;
    text-align: left;
}

.highScoreTitle {
    text-align: center;
    font-size: 40px;
}

/* ======================== Final Score Card Page ======================== */

div .finalScoreCard {
  display: flex;
  padding-top: 10%;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

div textarea {
  display: flex;
  justify-content: center;
  align-items: center;
}

div .finalScoreCard h2 {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

/* ======================== Buttons ======================== */
button {
  /* background: radial-gradient(circle, var(--cardGrade1) 0%, var(--cardGrade2) 100%); */
  border-width: 6px;
  border-radius: 8px;
  color: var(--headerBtnColor);
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  width: auto;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.ansbtn {
  background: var(--questionBtn);
}

.start-button {
  background: #E9C46A;
  border-color: var(--border);

}

.highScore-button {
  background: #E9C46A;
  border-color: var(--border);
}

.initalSubmitBtn {
  background: #E9C46A;
}

