
/* Define Master Color Palette */
:root {
  --color1: #3C6E71;
  --color2: #FE6D73;
  --color3: #FFEAEB;
  --color4: #17C3B2;
  --color5: #A1CBCD;
  --BGcolor: #B8F2E6;
  --btnGrade1: #AED9E0;
  --btnGrade2: #275E67;
  --btnBorder: #eceff1;
  --ansbtnBorder: #E3FF69;
  --cardGrade1: #FFDEDF;
  --cardGrade2: #FF686B;
  --border: #AED9E0;
  --headerBtnColor: #141619;

}


/* ============ Header ============ */
header {
  display: flexbox;
  padding: 40px;
  text-align: center;
  background-color: var(--BGcolor);
  color: #fff;
  /* border-bottom:30px solid var(--color1); */
}

header h1 {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  background: var(--BGcolor);
  color: var(--headerBtnColor);
}

/* ============ Main ============ */

main {
  display: flex;
  background-color: var(--BGcolor);
  min-height: 500px;
  justify-content: center;
}

main h2 {
  display: flex;
  justify-content: center;
}

main button {
  display: flex;
  justify-content: center;
}

main div ul li {
  padding: 10px;
}

main div h1 {
  display: flex;
  justify-content: center;
  font-size: 70px;
}

main div p {
  margin: 20px;
}

main div q1 {
  display: flex;
  font-size: 30px;
  justify-content: center;
}



.card {
  background: radial-gradient(circle, var(--color3) 0%, var(--color2) 100%);
  border: 5px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  padding: 20px;
  width: 90%;
  min-height: 450px;
  height: auto;
  margin: 5px;
  border:30px solid var(--border);
}

.questionCard {
  background: radial-gradient(circle, var(--cardGrade1) 0%, var(--cardGrade2) 100%);
  border: 5px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  padding: 20px;
  width: 90%;
  min-height: 450px;
  height: auto;
  margin: 5px;
  border:30px solid var(--border);
}

.question {
  background: radial-gradient(circle, var(--cardGrade1) 0%, var(--cardGrade2) 100%);
  border: 5px solid var(--btnBorder);
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  padding: 20px;
  width: 90%;
  min-height: 20px;
  height: auto;
  margin: 5px;
  justify-content: center;
  /* border:30px solid var(--border); */
}

.ansbtn {
  border: 5px solid var(--ansbtnBorder);
}

main q1 {
  margin-bottom: 10px;
  maring-top: 100px;
}

.highScore {
  font-size: 40px;
    text-align: left;
}

.highScoreTitle {
    text-align: center;
    font-size: 40px;
}

/* ============ Body ============ */
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}


/* ============ Footer ============ */
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  border-bottom:30px #879274;
}

/* ============ Button ============ */
button {
  background: radial-gradient(circle, var(--btnGrade1) 0%, var(--btnGrade2) 100%);
  border-width: 6px;
  border-radius: 8px;
  color: var(--headerBtnColor);
  */cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}


 /* ============ Class Declerations ============ */

.wrapper {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* .ansButtons {
  background: radial-gradient(circle, var(--cardGrade1) 0%, var(--cardGrade2) 100%);
  /* color: #00cc14; */
} */
